@media print{

header nav, footer ,.control-group {
display: none;
}
head {
	display: none;
}
.tabs {
	padding-left: 5%;
}
table {
	border-collapse: collapse;
	width:90%;
}
table, th, td {
	border: 1px solid black;
}

}

